.App{
    background-image: url('./assets/MainBG.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #00000059;
    background-blend-mode: overlay;
    height: 120vh;
    display: flex;
    justify-content: center;
}

