body {
  background-color: #ccc;
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: none;
  border-radius: 5px;
  background: rgb(6,6,6);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(22, 22, 22, 0.966) 100%);
  min-width: 800px;
  width: 50%;
  min-height: 100vh;
  margin: auto;
  padding: 0 70px ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  color: white;
}
