body {
  background: linear-gradient(0deg, rgb(2, 2, 2) 0%, rgba(22, 22, 22, 0.973) 100%);
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: none;
  border-radius: 5px;
  background: transparent;
  min-width: 800px;
  width: 50%;
  min-height: 100vh;
  margin: auto;
  padding: 30px 70px ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  color: white;
}



.playlistName,
.artistName,
.musicName,
.urlLink {
  margin: 20px 0;
  margin-right: 15px;
  padding: 12px;
  outline: none;
  border: 1px solid black;
  border-radius: 40px;
}

.artistName,
.musicName,
.urlLink {
  margin-top: 10px !important;
}

.btnCreatePlaylist,
.submitPlaylist {
  cursor: pointer;
  padding: 12px;
  outline: none;
  border: 1px solid black;
  border-radius: 40px;
  color: #000000d7;
  font-weight: bold;
  background-color: #1BD05F;
  transition: .5s;
}

.submitPlaylist {
  margin: 20px 0;
}

.btnCreatePlaylist:hover,
.submitPlaylist:hover {
  background-color: #118a3f;
}

.Playlist {
  font-size: 30px;
}

.make {
  margin-top: 60px;
}

.choose {
  margin-top: 50px;
  margin-bottom: 35px;
}